$page-font: "Satoshi";
$title-font: "Clash Grotesk";
$spare-font: sans-serif;

$primary-bg-color: #080a1e;
$secondary-bg-color: rgba(16, 21, 47, 0.4);
$page-text-color: #ffffff;
// $primary-text-color: #ffffff;
$secondary-text-color: #000000;
$accent-color: #6c57f2;
$accent-gradient: linear-gradient(94deg, #9384f9 0%, #6c57f2 100%);
$border-gradient: linear-gradient(#aeb3cd, #333852);

// $small-text-size: 14px;
// $medium-text-size: 16px;
$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$mobile-min-only-screen: 389px;
$mobile-min-screen: 390px;
$mobile-max-screen: 767px;
$tablet-min-screen: 768px;
$tablet-max-screen: 1439px;
$desktop-screen: 1440px;
