.integrations__section {
  padding-top: 64px;
  padding-bottom: 64px;

  @include desktop {
    padding: 96px 0;
  }
}

.integrations__box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;

  @include tablet-min {
    gap: 24px;
    max-width: 600px;
    margin: 0 auto 50px;
  }

  @include desktop {
    gap: 32px;
    max-width: 700px;
    margin: 0 auto 64px;
  }
}

.integrations__title {
  @extend %title;
}

.integrations__subtitle {
  @extend %subtitle;
  color: $page-text-color;
}

.integrations__border {
  @include tablet-min {
    position: relative;
    padding: 16px;
    border-radius: 14px;
    backdrop-filter: blur(289.70001220703125px);
    background: $secondary-bg-color;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 14px;
      border: 1px solid transparent;
      background: $border-gradient border-box;
      mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
      -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
    }
  }
}

.integrations__list {
  overflow: hidden;
  border-radius: 10px;
  backdrop-filter: blur(17.799999237060547px);
  background: linear-gradient(180deg, #0a0e24 0%, rgba(10, 14, 36, 0.5) 100%);

  @include tablet-min {
    display: flex;
    flex-wrap: wrap;
  }
}

.integrations__item {
  position: relative;
  transition: background-color $duration $timing-function;

  &:not(:last-child) {
    border-bottom: 1px solid #333852;
  }

  &:hover,
  &:focus {
    background-color: #0d1c3a;
  }

  @include tablet-min {
    flex-basis: calc(100% / 2);

    &:nth-child(odd) {
      border-right: 1px solid #333852;
      border-bottom: 1px solid #333852;
    }

    &:nth-child(even) {
      border-bottom: 1px solid #333852;
    }

    &:nth-last-child(-n + 2) {
      border-bottom: none;
    }
  }

  @include desktop {
    flex-basis: calc(100% / 4);

    &:nth-child(4n + 1),
    &:nth-child(4n + 2),
    &:nth-child(4n + 3) {
      border-right: 1px solid #333852;
      border-bottom: 1px solid #333852;
    }

    &:nth-child(4n + 4) {
      border-bottom: 1px solid #333852;
    }

    &:nth-last-child(-n + 4) {
      border-bottom: none;
    }
  }

  .integrations__link {
    display: block;
    padding: 10px 8px;
    color: $page-text-color;
    text-decoration: none;
    //   transition: background-color $duration $timing-function;

    //   &:hover,
    //   &:focus {
    //     background-color: #0d1c3a;
    //   }

    @include mobile-min-only {
      height: 80px;
    }

    @include mobile-min {
      padding: 18px 16px;
    }

    @include tablet-min {
      height: 138px;
    }

    @include desktop {
      padding: 32px;
    }
  }

  .integrations__wrap {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @include mobile-min {
      gap: 8px;
    }
  }

  .integrations__option {
    @extend %title;
    @include centered-flex($justify: flex-start);
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.01em;
    text-align: initial;

    @include mobile-min {
      font-size: 16px;
      line-height: 175%;
    }

    @include tablet-min {
      font-size: 18px;
      line-height: 156%;
    }
  }

  .integrations__icon {
    margin-right: 8px;
    @include sizes(20px, 20px);
    fill: currentColor;
  }

  .integrations__desc {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #aeb3cd;

    @include mobile-min {
      font-size: 14px;
    }

    @include tablet-min {
      color: #eff1ff;
    }
  }

  //   &:hover::after,
  //   &:focus::after {
  //     background-color: #0d1c3a;
  //   }

  //   &:nth-child(n) {
  //     &:hover,
  //     &:focus {
  //       background-color: tomato;
  //     }
  //   }

  //   &:nth-child(2n) {
  //     &:hover,
  //     &:focus {
  //       background-color: aliceblue;
  //     }
  //   }

  //   &::after {
  //     position: absolute;
  //     bottom: -17px;
  //     z-index: 5;
  //     --svg: url("data:image/svg+xml,%3Csvg width='350' height='17' viewBox='0 0 350 17' fill='%230a0e24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M350 0.550297L186.986 0.5503C185.348 0.5503 184.304 2.52149 184.646 4.12367C184.781 4.75389 184.852 5.40714 184.852 6.07661C184.852 11.3088 180.526 15.5503 175.19 15.5503C169.855 15.5503 165.529 11.3088 165.529 6.07661C165.529 5.40715 165.6 4.7539 165.735 4.12368C166.077 2.52149 165.033 0.550302 163.395 0.550302L0 0.55035' stroke='%23333852'/%3E%3C/svg%3E");
  //     content: var(--svg);
  //     // content: url("../images/icons.svg#icon-ledge-bottom");
  //     // content: url("../images/Vector.svg");
  //     @include sizes(100%, 17px);
  //     // fill: #0d1c3a;
  //     // background-color: $accent-color;
  //     // border-radius: 2px;
  //     background-image: var(--svg);
  //     // background-color: tomato;
  //     -webkit-mask: var(--svg);
  //     mask: var(--svg);
  //   }

  //   &::after {
  //     position: absolute;
  //     bottom: -17px;
  //     z-index: 5;
  //     @include sizes(100%, 17px);

  //     --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='31' fill='tomato'%3E%3Cpath d='M2.4 29.998c-.137.003-.27.003-.401 0h.4c5.005-.101 14.006-3.875 14.006-7.25 0-4.617-5.95-3.467-5.95-10.086S12.02 1 20.789 1c8.77 0 10.335 5.989 10.335 11.662 0 5.674-4.384 5.358-4.384 10.086 0 3.291 6.576 7.25 14.406 7.25H2.4Z'%3E%3C/path%3E%3Cpath stroke='%2328344F' d='M1.999 29.998c4.906.105 14.406-3.782 14.406-7.25 0-4.617-5.95-3.467-5.95-10.086S12.02 1 20.789 1c8.77 0 10.335 5.989 10.335 11.662 0 5.674-4.384 5.358-4.384 10.086 0 3.291 6.576 7.25 14.406 7.25H1.999Z'%3E%3C/path%3E%3Cpath stroke='%230D1129' stroke-width='2' d='M42 29.703H0'%3E%3C/path%3E%3C/svg%3E");
  //     content: var(--svg);
  //     background-image: var(--svg);
  //     // background-color: tomato;
  //     -webkit-mask-image: var(--svg);
  //     mask-image: var(--svg);
  //   }
}

// .integrations__hook {
//   //   position: absolute;
//   //   bottom: -16px;
//   //   z-index: 5;
//   @include sizes(100%, 17px);
//   background-color: transparent;
//   --svg: url("data:image/svg+xml,%3Csvg width='350' height='17' viewBox='0 0 350 17' fill='tomato' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M350 0.550297L186.986 0.5503C185.348 0.5503 184.304 2.52149 184.646 4.12367C184.781 4.75389 184.852 5.40714 184.852 6.07661C184.852 11.3088 180.526 15.5503 175.19 15.5503C169.855 15.5503 165.529 11.3088 165.529 6.07661C165.529 5.40715 165.6 4.7539 165.735 4.12368C166.077 2.52149 165.033 0.550302 163.395 0.550302L0 0.55035' stroke='%23333852'/%3E%3C/svg%3E");
//   background-image: var(--svg);
//   //   -webkit-mask: var(--svg);
//   //   mask: var(--svg);
//   //   color: transparent;

//   &:hover,
//   &:focus {
//     // fill: aqua;
//     background-color: tomato;
//   }
// }

// .integrations__ledge {
//   margin-right: 8px;
//   //   @include sizes(20px, 20px);
//   fill: currentColor;

//   //   @apply invisible;
//   //   @apply absolute;
//   //   @apply z-10;
//   fill: rgba(13, 17, 41, 1);

//   &_top {
//     top: -29px;
//     left: 50%;
//     margin-left: -20px;
//   }

//   &_right {
//     transform: rotate(90deg);
//     right: -34px;
//     top: 50%;
//     margin-top: -20px;
//   }

//   &_left {
//     transform: rotate(-90deg);
//     left: -34px;
//     top: 50%;
//     margin-top: -20px;
//   }

//   &_bottom {
//     transform: rotate(180deg);
//     bottom: -29px;
//     left: 50%;
//     margin-left: -20px;
//   }
// }

// .integrations__test {
//   @include sizes(100%, 17px);
//   fill: tomato;
//   stroke: white;
//   background-color: aqua;
// }
